<div class="w-screen h-screen bg-white md:bg-gray-50 relative">
  <app-background></app-background>
  <div class="relative w-full h-full flex flex-col items-center justify-center sm:w-96 m-auto items">
    <div class="bg-white rounded shadow-lg py-4 px-4 md:px-9">
      <header class="pt-6 pb-2 flex justify-center">
        <img class="w-28" src="/assets/images/logo/logo-gradient-blue-trello.png" alt="logo">
      </header>
      <div class="mb-4">
        <app-recovery-form></app-recovery-form>
      </div>
      <hr class="my-4 border-b-1 border-r-gray-300" />
      <div
        class="text-xs flex justify-center items-center space-x-0 space-y-2 md:space-x-2 md:space-y-0 flex-col md:flex-row"
      >
        <a routerLink="/login" class="text-sm text-primary-600">Return to log in</a>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
